table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
}

th {
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

thead {
  border: 1px solid #dddddd;
}

tr {
  border: 1px solid #dddddd;
}

tr.selected {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #cfecf7;
}

td {
  font-size: 0.8rem;
  padding: 0.5rem;
}

th:last-child {
  padding-left: 1.6rem;
}