.table-component {
  border-collapse: collapse;
  width: 100%;
}

.table-component td,
.table-component th {
  text-align: left;
}

.table-component th {
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.table-component th:last-child {
  padding-left: 1.6rem;
}


.table-component tr {
  border: 1px solid #dddddd;
}

.table-component tr.selected {
  background-color: #f2f2f2;
}

.table-component tr.disabled {
  pointer-events: none;
  background-color: #d3d3d3;
}

.table-component tbody tr:hover {
  background-color: #cfecf7;
}

.table-component td {
  font-size: 0.8rem;
  padding: 0.5rem;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 400px;
  text-overflow: ellipsis;
}